.header {
    background-color: var(--violet);
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0px 13px;
    justify-content: space-between;
    align-items: center;
}

.header__nav-main {
    display: flex;
    gap: 16px;
}

.nav-main__button-menu-line {
    width: 22px;
    height: 2px;
    display: block;
    position: relative;
    background: var(--white);
    margin-left: 3px;
    border-radius: 4px;
}

.nav-main__button-menu-line::before {
    display: flex;
    top: -8px;
    width: 100%;
}

.nav-main__button-menu-line::after {
    bottom: -8px;
    width: 74%;
}

.nav-main__button-menu-line::after,
.nav-main__button-menu-line::before {
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    background: var(--white);
    border-radius: 4px;
}

.nav-main__logo {
    display: flex;
}

.logo__title {
    display: flex;
    padding: 11px 4px 19px 8px;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex: 1 0 0;
    color: var(--white);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-variant: all-small-caps;
    letter-spacing: 3.2px;
    cursor: pointer;
}

.header__search {
    display: none;
}

.header__nav-basket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-basket__item-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bascket__item {
    margin-top: 16px;
}

.link__icon-search {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../assets/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.nav-basket__item-profile {
    display: none;
}

.nav-basket__item-basket {
    display: none;
}

.basket__content {
    margin-inline: 16px;
}

.basket__title {
    color: var(--black);
    font-family: Segoe_UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.basket__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    position: relative;
}

.basket__menu__check {
    display: flex;
}

.basket__menu__check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.basket__menu__check input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.basket__menu__check input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--bwhite);
    border: 1px solid var(--grey);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
}

.basket__menu__check input:checked+label::before {
    background-image: url(../assets/mark-icon.svg);
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

.basket__menu p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 11px;
}

.basket__menu button {
    margin-right: 6px;
    margin-top: -1px;
}

.line {
    position: static;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.basket__menu .line {
    display: none;
    margin-top: 57px;
    width: 100%;
    position: absolute;
}

.basket__product {
    display: block;
    position: relative;
    margin-top: -1px;
}

.basket__product {
    display: flex;
    gap: 16px;
    padding: 12px 0;
}

.basket__product__image {
    position: relative;
}

.basket__product__image input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.basket__product__image input+label {
    display: inline-flex;
    position: absolute;
    align-items: center;
    user-select: none;
    left: 4px;
    top: 5px;
}

.basket__product__image input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
}

.basket__product__image input:checked+label::before {
    background-image: url(../assets/mark-icon.svg);
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

.bascket__product-size {
    display: inline-flex;
    position: absolute;
    padding: 0px 4px 3px 4px;
    left: 4px;
    top: 81px;
    background: var(--white);
    border-radius: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    width: 22px;
    height: 22px;
}

.image__wrapper {
    width: 80px;
    height: 106px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 1px;
}

.image__wrapper img {
    width: 100%;
    height: 100%;
}

.product-text__price {
    display: flex;
    align-items: baseline;
}

.total-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 2px;
}

.total-price span {
    word-spacing: -2px;
}

.crossed {
    text-decoration: line-through;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    color: var(--gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 7px;
    letter-spacing: -0.5px;
    word-spacing: 2px;
    cursor: pointer;
}

.crossed span {
    word-spacing: -1px;
}

.basket__product__title {
    margin-top: 1px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-height: 40px;
    max-width: 400px;
    overflow: hidden;
    cursor: pointer;
}

.basket__product__color {
    display: flex;
    gap: 17px;
    margin-top: 7px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.basket__product__size {
    display: none;
}

.basket__product__company {
    display: none;
}

.basket__product__saller {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    font-family: Segoe_UI;
    color: var(--gray);
    margin-top: 9px;
}

.basket__product__contorl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__control__counter {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border-radius: 4px;
    height: 32px;
}

.product__control__counter button {
    display: flex;
    user-select: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--black);
    font-family: Segoe_UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.minus {
    padding: 4px 6px 8px 8px;
}

.plus {
    padding: 4px 6px 8px 0px;
}

.product__control__counter button.gray {
    color: rgba(0, 0, 0, 0.20);
}

.product__control__counter input {
    display: flex;
    width: 32px;
    font-family: Segoe_UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    flex: 1 0 0;
    padding: 6px 7px 7px 0px;
}

.basket__product__left {
    color: var(--red);
    font-family: Segoe_UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-left: -10px;
    margin-bottom: 1px;
}

.basket__product__icons {
    display: flex;
    gap: 24px;
    margin-right: 14px;
    margin-top: 2px;
}

.basket__product__icons button {
    margin-left: 2px;
}

.basket__not-available {
    margin-top: 45px;
    margin-bottom: 27px;
}

.not-available__line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.basket__not-available__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.not-available__menu__check {
    display: flex;
}

.not-available__menu__check p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.basket__not-available__menu button {
    margin-right: 6px;
}

.not-available__product-info {
    display: block;
    position: relative;
    margin-top: 17px;
}

.not-available__product {
    display: flex;
    gap: 16px;
    padding: 12px 0;
    color: var(--gray);
}

.not-available__product__image {
    position: relative;
}

.not-available__product-size {
    display: inline-flex;
    position: absolute;
    padding: 0px 4px 3px 4px;
    left: 4px;
    top: 81px;
    background: var(--white);
    color: var(--black);
    border-radius: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    width: 22px;
    height: 22px;
    z-index: 5;
}

.not-available__product .image__wrapper img {
    width: 100%;
    height: 100%;
    filter: grayscale(95%);
}

.not-available_product__title {
    margin-top: 1px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-height: 40px;
    max-width: 400px;
    overflow: hidden;
    cursor: pointer;
}

.not-available__product__color {
    display: flex;
    gap: 17px;
    margin-top: 7px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.not-available__product__size {
    display: none;
}

.not-available__product__contorl {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.not-available__product__icons {
    display: flex;
    gap: 24px;
    margin-right: 14px;
    margin-top: 2px;
}

.delivery {
    padding: 16px 16px 24px 16px;
    border-radius: 16px;
    background: var(--white);
    margin-top: 32px;
}

.delivery__method {
    display: flex;
    justify-content: space-between;
}

.delivery__method__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.delivery__method__change {
    color: var(--purple);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 2px 0px 0px 9px;
}

.delivery__method__change:hover {
    color: var(--violet);
}

.delivery__info {
    margin-top: 8px;
}

.delivery__type {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.delivery__address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 350px;
}

.delivery__point__info {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
}

.rating {
    margin-left: 4px;
}

.period {
    margin-left: 8px;
}

.delivery__price {
    margin-top: 16px;
}

.delivery__price p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.delivery__price__sum {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.delivery__dates {
    margin-top: 16px;
}

.delivery__date {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.delivery__date p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.delevery_products {
    display: flex;
    margin-top: 12px;
}

.delevery_product {
    margin-right: 8px;
}

.first {
    display: flex;
    margin-top: 12px;
}

.delivery__image__wrapper {
    position: relative;
    overflow: visible;
    height: 56px;
    width: 40.93px;
}

.delivery__image__wrapper img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.delivery__image__wrapper__label {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -2px;
    height: 16px;
    min-width: 16px;
    padding: 0px 4px;
    border-radius: 16px;
    background: var(--orange);
    color: var(--white);
    text-align: center;
    font-family: Segoe_UI;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
}

.second {
    display: flex;
    margin-top: 12px;
}

.delivery__return {
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.delivery__return p {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.text-wrapper span {
    color: var(--green);
    cursor: pointer;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
    font-size: 13px;
    margin-left: 5px;
}

.popup {
    display: none;
}

.payment {
    background: var(--white);
    padding: 16px 16px 24px 16px;
    margin-top: 12px;
    border-radius: 16px;
}

.payment__head {
    display: flex;
    justify-content: space-between;
}

.payment__head__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.payment_change {
    color: var(--purple);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 2px 0px 0px 9px;
}

.payment_change:hover {
    color: var(--violet);
}

.payment__body {
    margin-top: 8px;
    display: flex;
}

.payment__body__card-number {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.payment__body__card-date {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.payment-info {
    color: var(--gray);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 7px;
}

.payment__body img {
    margin-bottom: 2px;
    margin-left: 1px;
}

.recipient {
    background: var(--white);
    padding: 16px 16px 24px 16px;
    border-radius: 16px;
    margin-top: 12px;
}

.recipient__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.recipient__form {
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: -3px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input__wrapper {
    margin: 12px -1px 21px;
    position: relative;
}

.input__wrapper input {
    width: 100%;
    color: var(--black);
    font-family: Segoe_UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.input__wrapper input::placeholder {
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.3px
}

.errorValue input::placeholder {
    color: var(--orange);
}

.text-up {
    display: none;
    color: var(--light-gray);
    position: absolute;
    top: -16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.error {
    display: none;
    position: absolute;
    top: 30px;
    color: var(--orange);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.input__wrapper .error-line {
    background-color: var(--orange);
}

.inn {
    top: 45px;
}

.recipient__line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.20);
    position: absolute;
    bottom: -2px;
}

.inn_down-text {
    color: var(--black);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    margin-top: 6px;
}

.total-sum {
    margin-top: 17px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: -8px;
}

.total-sum__head__title {
    display: flex;
    justify-content: space-between;
}

.total-sum__head__products {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 7px;
}

.total-sum__head__products__field {
    letter-spacing: 0px;
    margin-right: 1px;
}

.total-sum__head__discount__field {
    letter-spacing: 0px;
    margin-right: 2px;
}

.total-sum__head__delivery-info__field {
    margin-right: 0px;
}

.total-sum__head__discount {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.total-sum__head__delivery-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.total-sum__delivery {
    display: none;
}

.total-sum__info {
    display: flex;
    margin-top: 20px;
    padding: 8px 8px 12px;
    border-radius: 8px;
    background: var(--smoky-dark);
}

.total-sum__info p {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.total-sum__info span {
    color: var(--green);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
    margin-left: 5px;
}

.total-sum__payment__edit {
    display: none;
}

.total-sum__payment {
    margin-top: 15px;
    padding: 8px 8px 12px;
    border-radius: 8px;
    background: var(--smoky-dark);
}

.total-sum__payment__check {
    display: flex;
    align-items: center;
}

.total-sum__payment__check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.total-sum__payment__check input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.total-sum__payment__check input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
}

.total-sum__payment__check input:checked+label::before {
    background-image: url(../assets/mark-icon.svg);
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

.total-sum__payment__check p {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.total-sum__payment-pay-info {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.total-sum__button-pay {
    margin-top: 24px;
    border-radius: 8px;
    background: var(--purple);
    display: flex;
    width: 100%;
    height: 44px;
    padding: 0px 32px 5px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.total-sum__accept {
    display: flex;
    margin-top: 12px;
    align-items: start;
    margin-bottom: 4px;
}

.total-sum__accept img {
    margin-top: 2px;
}

.total-sum__accept p {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--black);
}

.total-sum__accept span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.total-sum-text-wrapper {
    letter-spacing: 0px;
}

footer {
    display: flex;
    padding: 23px;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    word-spacing: 1px;
}

.menu__mobile {
    display: flex;
    height: 56px;
    padding: 28px 13px;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    margin-top: 2px;
}

.menu__mobile button {
    height: 28px;
    width: 28px;
    position: relative;
}

.menu__mobile__label {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -6px;
    height: 16px;
    min-width: 16px;
    padding: 0px 4px;
    border-radius: 16px;
    background: var(--orange);
    color: var(--white);
    text-align: center;
    font-family: Segoe_UI;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
}

.paiment__body__img-wrapper {
    border-radius: 4px;
    width: 32px;
    height: 24px;
    background-color: var(--bwhite);
    margin-top: -2px;
}

.paiment__body__img-wrapper img {
    width: 30px;
    height: 9.33px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    display: block;
}

.basket__product__manage__price {
    display: none;
}

.total-sum__button-pay:hover {
    background-color: var(--violet);
}

.total-sum__button-pay[disabled] {
    background-color: var(--gray);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(5, 0, 10, 0.30);
}

.payment__modal__content {
    background-color: var(--white);
    width: 100%;
    height: 100%;
}

.payment__modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px 13px 0px;
}

.close {
    margin-top: 2px;
    margin-right: -1px;
}

.payment__modal__head p {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.payment__modal__body {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.payment__modal__body__radio input[type=radio] {
    display: none;
}

.payment__modal__body__radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.payment__modal__body__radio label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../assets/radio-off-icon.svg) 0 0 no-repeat;
}

.payment__modal__body__radio input[type=radio]:checked+label::before {
    background: url(../assets/radio-on-icon.svg) 0 0 no-repeat;
}

.payment__modal__form {
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.payment__modal__body__radio {
    margin-top: 2px;
}

.payment__modal__card__number {
    margin-left: 4px;
    margin-top: 4px;
}

.payment__modal__card-wrapper {
    border-radius: 4px;
    width: 32px;
    height: 24px;
    background-color: var(--bwhite);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment__modal__card {
    margin-top: 0px;
    display: flex;
}

.payment__modal__card img {
    width: 32px;
    height: 14px;
}

.payment__modal__form__choose {
    display: flex;
    height: 44px;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 0px 48px 5px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--purple);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    margin-top: auto;
}

.payment__modal__form__choose:hover {
    background-color: var(--violet);
}

.delivery__modal__accept:hover {
    background-color: var(--violet);
}

.delivery__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(5, 0, 10, 0.30);
}

.delivery__modal__content {
    background-color: var(--white);
    width: 100%;
    height: 100%;
}

.delivery__modal__content__form {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px;
    height: 100%;
}

.delivery__modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px 15px 0px;
}

.delivery__modal__head p {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.close__delivery {
    margin-top: 2px;
}

.delivery__modal__type {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.delivery__modal__type button {
    display: flex;
    height: 40px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background: var(--white);
    user-select: none;
    color: var(--black);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.delivery__modal__type .selected-button {
    border: 2px solid var(--purple);
}

.delivery__modal__accept {
    display: flex;
    font-family: Segoe_UI;
    height: 44px;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 0px 48px 5px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--purple);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    margin-top: auto;
}

.pickup__choose {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 27px;
    margin-bottom: 49px;
}

.pickup__choose p {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.pickup:hover {
    border: 2px solid var(--purple);
}

.courier:hover {
    border: 2px solid var(--purple);
}

.delivery__modal__radio input[type=radio] {
    display: none;
}

.delivery__modal__radio label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding-left: 26px;
    margin-right: 0;
    margin-top: 4px;
    line-height: 18px;
    user-select: none;
}

.delivery__modal__radio label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -2px;
    bottom: 1px;
    background: url(../assets/radio-off-icon.svg) 0 0 no-repeat;
    top: 4px;
}

.delivery__modal__radio input[type=radio]:checked+label::before {
    background: url(../assets/radio-on-icon.svg) 0 0 no-repeat;
}

.pickup__address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 236px;
}

.pickup__address__rating {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
}

.pickup__address__rating-rating {
    margin-left: 4px;
}

.pickup__address__rating__type {
    color: var(--light-gray);
    margin-left: 8px;
}

.delivery__modal__radio {
    margin-bottom: 8px;
}

.delivery__pickup__delete {
    margin-top: -39px;
}

.courier__choose {
    display: none;
    flex-direction: column;
    gap: 8px;
    margin-top: 27px;
    margin-bottom: 49px;
}

.courier__choose p {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.courier__address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 236px;
}

.basket__menu .basket__menu-hidden {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-left: 0px;
}

.total-sum__head {
    margin-top: -1px;
}

.display__none {
    display: none !important;
}

.display__block {
    display: block !important;
}

.display__flex {
    display: flex !important;
}

.display__inline-block {
    display: inline-block !important;
}